.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
}

.main-nav a {
  font-weight: bold;
  color: #2c3e50;
}

.main-nav a.router-link-exact-active {
  color: #42b983;
}

.main-nav-item {
  text-decoration: none;
  margin-right: 0.5rem;
}

.main-nav-item:hover {
  text-decoration: underline;
}

.main-nav-logo {
  display: flex;
  align-items: center;
}

.main-nav-logo-image {
  max-width: 100%;
  width: 200px;
}

.sign-in-icon-header{
  padding-right: 7px; 
}

.username-header{
  font-weight: bold;
  padding-right: 20px;
}



@media (max-width: 500px) {
  .username-header{
    padding-right: 7px;
  }

  .main-nav-item {
font-size: 0.8rem;
  }
}

@media (max-width: 430px) {
  .username-header{
    padding-right: 5px;
  }

  .main-nav-item {
font-size: 0.6rem;
  }

}

@media (max-width: 400px) {

  .main-nav-item {
font-size: 0.45rem;
  }

}