.hero {
    background-image: url('../../assets/img/bank-tree.webp');
    width: auto;
    height: 400px;
    background-size: cover;
    background-position: center -50px;
    position: relative;
  }
  
  .hero-content {
    position: absolute;
    top: 90px;
    right: 80px;
    width: 300px;
    height: 170px;
    background: white;
    padding: 2rem;
    text-align: left;
    margin: 0 auto;
  }
  
  .hero-content .subtitle {
    font-weight: bold;
    font-size: 1.5rem;
    margin: 0;
  }
  
  .hero-content .text {
    margin-bottom: 0;
    font-size: 1.3rem;
  }
  

  @media (max-width: 700px) {
    .hero-content {
      position: absolute;
      top: 90px;
      right: 80px;
      width: 200px;
      height: 170px;
      background: white;
      padding: 2rem;
      text-align: left;
      margin: 0 auto;
    }
    
    .hero-content .subtitle {
      font-weight: bold;
      font-size: 1.2rem;
      margin: 0;
    }
    
    .hero-content .text {
      margin-bottom: 0;
      font-size: 1rem;
    }
    
  }